<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>About Me</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p>
					I have years of experience as a software engineer, and have worked at
					small startups and worked on numerous personal projects. While I'm a
					proficient full-stack developer, I love learning new technologies and
					communicating new ideas.
				</p>
				<p>
					I love building things. When I was young I spent a lot a time breaking
					and rebuilding computers. While hard engineering problems are often
					intrinsically fun to tackle, I'm most attracted to solving real
					customer problems with a business justification. I'm looking for a
					senior individual contributor role where I can take on on
					collaborative team leadership responsibilities, and gain experience
					with architecture and project management.
				</p>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top: 0;">Projects</h3>
				<ul>
					<li>
						<strong>Project 1:</strong> Developing a Back-end for a Movie
						Database
						<p>
							<strong>Project Webpage:</strong>
							<a href="https://github.com/wakaidev/MFlix" target="_blank"
								>MFlix Github</a
							>
						</p>

						<ul>
							<li><strong>Duration:</strong> 2 Weeks</li>
							<li>
								<strong>Technologies Used:</strong> Node.js, MongoDB, Jest,
								React
							</li>
							<li>
								<strong>Project Goals:</strong>
								<ul>
									<li>
										Build the backend of a movie-browsing application called
										MFlix
									</li>
									<li>
										Use the Node.js driver for MongoDB to implement basic
										functionality
									</li>
									<li>
										Include basic and complex movie searches, registering new
										users, posting comments on the site, writing analytical
										reports, increase the durability of MFlix's connection with
										MongoDB, and implement best security practices
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<strong>Project 2:</strong> Google Map API Interaction Application
						<ul>
							<li><strong>Duration:</strong> 1 day</li>
							<li>
								<strong>Technologies Used:</strong> Node.js, TypeScript,
								webpack, axios
							</li>
							<li>
								<strong>Project Goals:</strong>
								<ul>
									<li>
										Build a simple app to understand how to use Google Maps API
									</li>
									<li>
										Render a map and verify user input with the Maps API
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
