<section class="tout" id="interests">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Interests</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p>
					My personal interests include:
				</p>
				<ul>
					<li>
						<b>Veganism</b>: I am a proud vegan<br />
						<script type="text/javascript">
							// Javascript program to calculate number of days I've been vegan

							// To set two dates to two variables
							var date1 = new Date('12/01/2019');
							var date2 = new Date();

							// To calculate the time difference of two dates
							var Difference_In_Time = date2.getTime() - date1.getTime();

							// To calculate the no. of days between two dates
							var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);
							document.write(
								"Total number of days I've been vegan <br>" + Difference_In_Days
							);
						</script>
					</li>
					<li>
						<b>Dogs:</b> I have two wonderful dogs. Mako, a 5 year old pitlab
						mix rescue and Dexter, a 5 year old wirehaired miniature dachshund
					</li>
					<li>
						<b>Music:</b> I've spent near my entire life playing instruments.
						When I am not programming usually I'm listening to music, playing
						piano, or having fun in Ableton Live.
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Current Studies</h3>
				<ul>
					<li>
						Currently studying GraphQL with MongoDB using Stitch
					</li>
				</ul>
				<h3>Other Things</h3>
				<ul>
					<li>
						Active Member of The Suncoast Developers Guild
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
